body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('/fondo.jpg');
    background-size: cover;
    background-position: center;
    /* position: center; */
}

header {
    background: rgba(20, 232, 232, 0.5);
    border: solid, gray, 0.3rem; 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: solid;
}

#buscador, #tiempo {
    background: rgb(255, 255, 255, 0.5);
    border: solid, white, 0.3rem;
    border-radius: 10px;
    border-width: 5px;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;

    padding: 0.5rem;

    position: center;
}

#buscador section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}